# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List of popular languages for Data Science.
- List of commonly used libraries used by Data Scientists
- Data science open sources tools
- Arithimatic Operations in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. scikit-learn
4. matplotlib
5. Seaborn
6. Tenserflow
7. keras
8. Pytorch

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [6]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [11]:
200/60

3.3333333333333335

## Author
  Syed Sabit Ali Shah